@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	font-family: "poppins", sans-serif;
	outline: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #181e29;
}

.container {
	max-width: 500px;
	margin: 10px auto;
	padding: 20px 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #d5e179;

	border-radius: 5px;
	box-shadow: 0 0 10px #d5e179;
}

h1 {
	text-align: center;
	margin-bottom: 15px;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #181e29;
	border-radius: 4px;
}

input:focus {
	background: #649fd7;
	border: 1px solid #fff;
	color: #fff;
}

.btn {
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background-color: #3897f0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
}

.btn:hover {
	background-color: #357ae8;
}

.links {
	text-align: center;
	margin-top: 20px;
}

.links a {
	color: #0b0202;
	text-decoration: none;
	margin: 0 5px;
	font-weight: 500;
}
.links a:hover {
	text-decoration: underline;
	color: #2003db;
}
